# Ignore virtual environments
venv/
.env

# Ignore Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore system files
.DS_Store
Thumbs.db

# Ignore IDE and workspace files
.vscode/
.idea/

# Ignore build artifacts
build/
dist/
*.egg-info/
